*idb
*ilk
*lastbuildstate
*log
*obj
*pdb
*sdf
*tlog
*unsuccessfulbuild
*user
libcommon\Release
libcommon\Debug
autoincrement\Release
autoincrement\Debug
config\Release
config\Debug
crypto\Release
crypto\Debug
data2lua\Release
data2lua\Debug
md5\Release
md5\Debug
remote\Release
remote\Debug
replace\Release
replace\Debug
write\Release
write\Debug